.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    margin-top: 50px;
}
.jumbotron h1 {
    font-family: Bevan;
}
.circle {
    margin: auto;
    display: inline-block;
    font-size: 85px;
    font-weight: bold;
    line-height: 140px;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    color: white;
    text-align: center;
}
.circle .glyphicon {
    font-size: 75px;
}
.iconic .glyphicon {
    color: #aa0000;
    font-size: 140px;
}
.label {
    color: #333;
    font-size: 100%;
}
.navbar-nav li:hover {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.navbar-brand {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  height: 50px;
  width: 197px;
  background: url(../img/logo.png) 50% no-repeat;
}
.btn, .form-control {
    border-radius: 0;
}
.required {
    color: #aa0000;
}
.navbar-inverse {
    opacity: 0.8;
}
